# Gradle files
.gradle/
build

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ
*.iml
/.idea/

# Screenshots
/screenshots/

# JSON file used for Google Play Services
app/google-services.json
