<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satsumasoftware.timetable"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk tools:overrideLibrary="com.jakewharton.threetenabp" />

    <application
        android:name=".TimetableApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Timetable">

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Timetable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Timetable.Home" />

        <activity
            android:name=".ui.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/Timetable.Home"/>

        <activity
            android:name=".ui.ClassesActivity"
            android:label="@string/title_activity_classes"
            android:theme="@style/Timetable.Home"/>

        <activity
            android:name=".ui.ClassEditActivity"
            android:theme="@style/Timetable"/>

        <activity
            android:name=".ui.ClassTimeEditActivity"
            android:theme="@style/Timetable.EditItem"/>

        <activity
            android:name=".ui.AssignmentsActivity"
            android:label="@string/title_activity_assignments"
            android:theme="@style/Timetable.Home"/>

        <activity
            android:name=".ui.AssignmentDetailActivity"
            android:theme="@style/Timetable"/>

        <activity
            android:name=".ui.AssignmentEditActivity"
            android:theme="@style/Timetable"/>

        <activity
            android:name=".ui.ExamsActivity"
            android:label="@string/title_activity_exams"
            android:theme="@style/Timetable.Home"/>

        <activity
            android:name=".ui.ExamEditActivity"
            android:theme="@style/Timetable"/>

        <activity
            android:name=".ui.SubjectsActivity"
            android:label="@string/title_activity_subjects"
            android:theme="@style/Timetable.Home"/>

        <activity
            android:name=".ui.SubjectEditActivity"
            android:theme="@style/Timetable"/>

        <activity
            android:name=".ui.TimetablesActivity"
            android:label="@string/title_activity_timetables"
            android:theme="@style/Timetable"/>

        <activity
            android:name=".ui.TimetableEditActivity"
            android:theme="@style/Timetable.EditItem"/>

        <activity
            android:name=".ui.SettingsActivity"
            android:theme="@style/Timetable"/>

        <receiver android:name=".receiver.AlarmReceiver" />

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
